# Core Audio & DSP Libraries
pydub
numpy
scipy
psutil # For memory logging

# AI Tagger & ML Libraries
tensorflow
librosa
scikit-learn
joblib
matplotlib # Still needed by the tagger to create spectrograms

# Google Cloud Libraries
google-cloud-aiplatform
google-auth
requests # For direct API calls

# Web Server Libraries
Flask
gunicorn
